## STAGE1 - TASK3 - MERGING OF COVID DATASETS.
#### Member : Ankitha Chavan
#### As  we are merging the hospital enrichment data with covid data based on county_fips and dates columns.So, here we are using melt function to transpose the date column so that we can merge with the enrichment data.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# reading the death data
deaths = pd.read_csv("../data/covid_deaths_usafacts.csv")
deaths.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-01-07,2023-01-08,2023-01-09,2023-01-10,2023-01-11,2023-01-12,2023-01-13,2023-01-14,2023-01-15,2023-01-16
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,230
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,719,719,719,719,719,721,721,721,721,721
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,108

In [3]:
# reading the confirmed data
cases = pd.read_csv("../data/covid_confirmed_usafacts.csv")
cases.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-01-07,2023-01-08,2023-01-09,2023-01-10,2023-01-11,2023-01-12,2023-01-13,2023-01-14,2023-01-15,2023-01-16
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19205,19205,19205,19205,19205,19318,19318,19318,19318,19318
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,68182,68182,68182,68182,68182,68518,68518,68518,68518,68518
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7120,7120,7120,7120,7120,7188,7188,7188,7188,7188
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,7808,7808,7808,7808,7808,7855,7855,7855,7855,7855

In [4]:
#reading the population data
population = pd.read_csv("../data/covid_county_population_usafacts.csv")
population.head()

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869
2        1003         Baldwin County    AL      223234
3        1005         Barbour County    AL       24686
4        1007            Bibb County    AL       22394

In [5]:
# using the melt function so that we get the all the dates in one column and merging will be easy with enrichment data.
deaths_transpose = pd.melt(frame= deaths, id_vars=('countyFIPS','County Name','State','StateFIPS'), var_name=["Date"], value_name='Number of Deaths')
deaths_transpose = deaths_transpose[deaths_transpose['countyFIPS'] != 0]
deaths_transpose

,countyFIPS,County Name,State,StateFIPS,Date,Number of Deaths
1,1001,Autauga County,AL,1,2020-01-22,0
2,1003,Baldwin County,AL,1,2020-01-22,0
3,1005,Barbour County,AL,1,2020-01-22,0
4,1007,Bibb County,AL,1,2020-01-22,0
5,1009,Blount County,AL,1,2020-01-22,0
...,...,...,...,...,...,...
3483558,56037,Sweetwater County,WY,56,2023-01-16,136
3483559,56039,Teton County,WY,56,2023-01-16,16
3483560,56041,Uinta County,WY,56,2023-01-16,43
3483561,56043,Washakie County,WY,56,2023-01-16,47
3483562,56045,Weston County,WY,56,2023-01-16,22

In [6]:
# using the melt function so that we get the all the dates in one column and merging will be easy with enrichment data.
cases_transpose = pd.melt(frame = cases, id_vars=('countyFIPS','County Name','State','StateFIPS'),var_name=["Date"],value_name='Number of Cases')
cases_transpose = cases_transpose[cases_transpose['countyFIPS'] != 0]
cases_transpose

,countyFIPS,County Name,State,StateFIPS,Date,Number of Cases
1,1001,Autauga County,AL,1,2020-01-22,0
2,1003,Baldwin County,AL,1,2020-01-22,0
3,1005,Barbour County,AL,1,2020-01-22,0
4,1007,Bibb County,AL,1,2020-01-22,0
5,1009,Blount County,AL,1,2020-01-22,0
...,...,...,...,...,...,...
3483558,56037,Sweetwater County,WY,56,2023-01-16,12437
3483559,56039,Teton County,WY,56,2023-01-16,12045
3483560,56041,Uinta County,WY,56,2023-01-16,6333
3483561,56043,Washakie County,WY,56,2023-01-16,2731
3483562,56045,Weston County,WY,56,2023-01-16,1881

In [7]:
#merging the cases and death data.
cases_deaths_merge = pd.merge(cases_transpose,deaths_transpose, on=('countyFIPS','County Name','State','StateFIPS','Date'))
cases_deaths_merge

,countyFIPS,County Name,State,StateFIPS,Date,Number of Cases,Number of Deaths
0,1001,Autauga County,AL,1,2020-01-22,0,0
1,1003,Baldwin County,AL,1,2020-01-22,0,0
2,1005,Barbour County,AL,1,2020-01-22,0,0
3,1007,Bibb County,AL,1,2020-01-22,0,0
4,1009,Blount County,AL,1,2020-01-22,0,0
...,...,...,...,...,...,...,...
3427917,56037,Sweetwater County,WY,56,2023-01-16,12437,136
3427918,56039,Teton County,WY,56,2023-01-16,12045,16
3427919,56041,Uinta County,WY,56,2023-01-16,6333,43
3427920,56043,Washakie County,WY,56,2023-01-16,2731,47
3427921,56045,Weston County,WY,56,2023-01-16,1881,22

In [8]:
#merging the above data with poplation data.
population = population.drop(columns = ['County Name'])
super_covid = pd.merge(cases_deaths_merge,population, on=('countyFIPS', 'State'))
super_covid

,countyFIPS,County Name,State,StateFIPS,Date,Number of Cases,Number of Deaths,population
0,1001,Autauga County,AL,1,2020-01-22,0,0,55869
1,1001,Autauga County,AL,1,2020-01-23,0,0,55869
2,1001,Autauga County,AL,1,2020-01-24,0,0,55869
3,1001,Autauga County,AL,1,2020-01-25,0,0,55869
4,1001,Autauga County,AL,1,2020-01-26,0,0,55869
...,...,...,...,...,...,...,...,...
3427917,56045,Weston County,WY,56,2023-01-12,1881,22,6927
3427918,56045,Weston County,WY,56,2023-01-13,1881,22,6927
3427919,56045,Weston County,WY,56,2023-01-14,1881,22,6927
3427920,56045,Weston County,WY,56,2023-01-15,1881,22,6927
3427921,56045,Weston County,WY,56,2023-01-16,1881,22,6927

In [9]:
super_covid.to_csv('../data/super_covid.csv')